.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.home-video-wrapper {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  min-height: calc(100vh - 75px);
}

h1.home {
  color: white;
  margin: Opx;
  font-size: 32px;
  font-weight: bold;
  margin: 38px;
}

p.home {
  color: white;
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-left: 38px;
}

#search-form {
  margin: 45px;
}


#search-location {
  margin: 40px;
  padding: 40px;
}
