
<div class="home-video-wrapper">
  <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, class: "home_video" %>
  <h1 class="home">One Pass. Every Class. Tokyo.</h1>
  <p class="home">Commit to your fitness, not to a gym.</p>
  <p class="home">Join us and work out at any gym, try any workout and do it all with one pass.</p>

<%= link_to 'Book a class', studios_path, class: "btn btn-rose" %>
</div>


