.button-review-layout {

position: absolute;
 right: 3px;
 top: 230px;
width: 175px;
}


.button-like-layout {

 position: absolute;
 left: 3px;
 bottom: 10px;
 width: 85px;
}



.button-contact-layout {

 position: absolute;
 left: 444px;
 bottom: 140px;
 width: 112px;
}

.golden_star{

  color:#F39F36;
}

#golden_star{

  color:#F39F36;
}
